<mat-card class="cardWithShadow theme-card">
  <div class="p-6">
    <mat-card-title>Add Employee</mat-card-title>
  </div>

  <mat-card-content class="border-t border-border">
    <form [formGroup]="employeeForm" (ngSubmit)="submit()">

      <div class="grid grid-cols-12 gap-x-6">

        <!-- Name -->
        <div class="col-span-12 lg:col-span-6">
          <mat-label class="font-semibold mb-2 block">Name</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input matInput formControlName="name" placeholder="Enter name" />
            <mat-error *ngIf="f['name'].invalid && f['name'].touched">
              Name is required (min 3 characters)
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Department -->
        <div class="col-span-12 lg:col-span-6">
          <mat-label class="font-semibold mb-2 block">Department</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select formControlName="department">
              <mat-option *ngFor="let dept of departments" [value]="dept">
                {{ dept }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="f['department'].invalid && f['department'].touched">
              Department is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="col-span-12 lg:col-span-6">
          <mat-label class="font-semibold mb-2 block">Email</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input matInput formControlName="email" placeholder="Enter email" />
            <mat-error *ngIf="f['email'].invalid && f['email'].touched">
              Enter valid email
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Salary -->
        <div class="col-span-12 lg:col-span-6">
          <mat-label class="font-semibold mb-2 block">Salary</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input matInput type="number" formControlName="salary"
              placeholder="Enter salary" />
            <mat-error *ngIf="f['salary'].invalid && f['salary'].touched">
              Salary must be at least 1000
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <!-- Buttons -->
      <div class="mt-4">
        <button mat-flat-button color="primary" type="submit" class="me-2">
          Submit
        </button>
        <button mat-stroked-button color="warn" type="button"
          (click)="cancel()">
          Cancel
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>